<!doctype html>
<html>
  <head>
    <title><%=shopName%></title>
  </head>
  <body>
    <h1>Search for product</h1>
    <p>Search Here</p>
    <form action="/search_result" method="GET">
      Name: <input id="search_name" type="text" name="search_text" placeholder="Product Name">
      Category: <input id="search_box" type="text" name="category" placeholder="Category">
      <input type="submit" value="OK" >
    </form>

  </body>
</html>
